<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <div class="page-header">
        <h1>MathCalcul</h1>
      </div>
      
      <form (ngSubmit)="calcul()" #f="ngForm">
        <div class="form-group">
          <label class="control-label">Number1:</label>
          <input type="number" name="number1" required ngModel class="form-control" [(ngModel)]="number1">
        </div>
        <div class="form-group">
          <label class="control-label">Number2:</label>
          <input type="number" name="number2" required ngModel class="form-control" [(ngModel)]="number2">
        </div>
        <div class="form-group">
          <button [disabled]="f.invalid" class="btn btn-primary btn-block">Calculer</button>
        </div>
        
      </form>
      
     <div class="row col-md-8" *ngIf="sum">
        <ul>
         <li>La somme de {{number1}} et de {{number2}} est {{sum}}</li>
        </ul>
        
      </div>
    </div>
  </div>
</div>